@charset "UTF-9";

/* 
    Paleta de cores 
    Verder #49a09d
    Lilás #5f2c82
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    left: 50%;
    top: 50%;
    
    background-color: white;
    width: 270px;
    height: 515px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.782);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    background: #5f2c82 url(../imagens/pexels-vinícius-estevão-2896034.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
    display: block;


}

section#login > div#formulario {
    display: block;
    padding: 10px;

}

div#formulario > p {
    font-size: 0.8em;
    padding-bottom: 15px;
}

form > div#campo {
    background-color: #5f2c82;
    height: 40px;
    display: block;
    margin: 5px 0px;
    border-radius: 8px;
    width: 100%;
    border: 2px solid #5f2c82;
    
}

div#campo label {
    display: none;
}

div#campo i {
    color: white;

    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div#campo > input {
    background-color: #49cfcd;
    width: calc(100% - 45px);
    height: 100%;    
    border: 0px;
    font-size: 1em;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-12px);
    

}

div#campo > input:focus-within {
    background-color: white;
    border: none;
}


div#formulario > h1 {
    padding-bottom: 10px;
    text-align: center;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;  
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    padding-bottom: 2px;
    
}

form > input[type=submit]:hover {
    background-color: #33716f ;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    background-color: #ffffff ;
    border: 1px solid rgb(80, 148, 111);
    cursor: pointer;
    color: #33716f;
    text-decoration: none;
    border-radius: 5px;
    padding-top: 5px;


}

form > a.botao > i {
    font-size: 0.8em;
}

form > a.botao:hover {
    background-color: #49bbb7;
}

form > div.campo {
    font-size: 1em;
}